/node_modules
.env
node_modules/





src/app.js
src/controllers/comment.controller.js
src/controllers/folder.controller.js
src/controllers/snippet.controller.js
src/controllers/user.controller.js
src/middleware/auth.middleware.js
src/middleware/error.middleware.js
src/models/Comment.js
src/models/Folder.js
src/models/Snippet.js
src/models/User.js
src/routes/comment.routes.js
src/routes/folder.routes.js
src/routes/snippet.routes.js
src/routes/user.routes.js
src/validators/auth.validator.js
src/validators/folder.validator.js
src/validators/snippet.validator.js